///Colors
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-violet-magenta: hsl(300, 43%, 22%);
$color-pink: hsl(333, 50%, 55%);
$color-grayish-magenta: hsl(303, 10%, 53%);
$color-grayish-magenta-light: hsl(300, 24%, 96%);

$ft-bold: 700;
$ft-stronger: 500;
$ft-normal: 400;

///SCREENS

$bp-large: 56.25em; ///900px

///RESETS
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture {
    max-width: 100%;
    display: block;
    line-height: 0;
}

button {
    all: unset;
    cursor: pointer;
}

html,
body {
    height: 100%;
}

///IMAGES
///

main {
    position: relative;
    min-height: 100%;
}

.top-img {
    position: absolute;
    top: 0;
    left: 0;
}
.btm-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
///BEGIN
///
html {
    box-sizing: border-box;
    font-size: 62.5%; ////defines
}

body {
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    font-size: 1.5rem;
    font-family: "League Spartan", sans-serif;
    line-height: 0.9;
}

.container {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 5rem 3rem;
    grid-row-gap: 5rem;
    @media only screen and (min-width: $bp-large) {
        padding: 13rem 18rem;
        grid-template-rows: min-content max-content;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        grid-column-gap: 15%;
    }
}

.title {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    @media only screen and (min-width: $bp-large) {
        align-content: start;
        text-align: start;
    }

    &__heading {
        color: $color-violet-magenta;
        font-size: 2.8rem;
        letter-spacing: -0.05rem;
        font-weight: $ft-bold;
        width: 80%;
        @media only screen and (min-width: $bp-large) {
            width: 100%;
            font-size: 5rem;
        }
    }
    &__paragraph {
        padding: 3rem 0 0;
        font-weight: $ft-stronger;
        line-height: 1.5;
        color: $color-grayish-magenta;
        @media only screen and (min-width: $bp-large) {
            width: 100%;
            font-size: 1.7rem;
        }
    }
}

.ratings {
    width: 100%;

    &__item {
        padding: 1rem;
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        margin: 0 auto;
        background-color: $color-grayish-magenta-light;
        border-radius: 0.7rem;
        &:not(:last-of-type) {
            margin-bottom: 1.5rem;
        }
        @media only screen and (min-width: $bp-large) {
            grid-template-columns: max-content 1fr;
            grid-template-rows: 1fr;
            justify-content: center;
            align-content: center;
            padding: 1.5rem;
            grid-column-gap: 3rem;
            &--1 {
                margin-left: -6rem;
                margin-right: 6rem;
            }
            &--2 {
                margin-left: -3rem;
                margin-right: 3rem;
            }
        }
    }
    &__starbox {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        justify-items: center;
        grid-gap: 0.7rem;
        padding: 1rem 2rem 0.7rem;
        @media only screen and (min-width: $bp-large) {
            padding: 0;
            align-items: center;
        }

        img {
            width: 1.2rem;
            @media only screen and (min-width: $bp-large) {
                width: 1.6rem;
            }
        }
    }
    &__text {
        text-align: center;
        align-self: center;
        font-weight: $ft-bold;
        color: $color-violet-magenta;
        padding-bottom: 1rem;
        @media only screen and (min-width: $bp-large) {
            padding: 0;
            align-items: end;
            text-align: start;
        }
    }
}

.reviews {
    display: grid;

    grid-row-gap: 1rem;
    @media only screen and (min-width: $bp-large) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        grid-column: 1 / -1;
    }
    &__card {
        background-color: $color-violet-magenta;
        border-radius: 0.5rem;
        padding: 3rem;
        @media only screen and (min-width: $bp-large) {
            &--2 {
                margin: 2rem 0 -2rem;
            }
            &--3 {
                margin: 4rem 0 -4rem;
            }
        }
    }

    &__person {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-column-gap: 2rem;
        align-content: center;
        align-items: center;
    }

    &__img {
        width: 4rem;
        border-radius: 50%;
        align-self: center;
    }

    &__info {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-row-gap: 0.5rem;
    }
    &__name {
        font-size: 1.4rem;
        color: $color-white;
    }

    &__status {
        font-size: 1.4rem;
        font-weight: $ft-stronger;
        color: $color-pink;
    }

    &__text {
        color: $color-white;
        font-size: 1.3rem;
        font-weight: 100;
        margin-top: 2rem;
        line-height: 1.6;
    }
}
